extends base.pug

block scripts
  script(src='/static/index.js')

block style 
    style 
        include ../static/style.css

block content 

    section#introSection
        div   Welcome to Sweta's Dance Academy
        div.small   Dance to your own Rhythm
    section#OurMission Our Mission is To make you Dance & be free like you rule the World... 
        br
        div.card 
             h3 Dance Perfection 
        div.card 
             h3 True Expression
        div.card
             h3 Expert Tutoring

    section#sponsorsSection    
        h1  Our sponsors  
        div#sponsors 
            img(src="/static/img/sponsor1.PNG", alt="Sponsor Image" Class="spImage")
            img(src="/static/img/sponsor2.PNG", alt="Sponsor Image" Class="spImage")
            img(src="/static/img/sponsor3.PNG", alt="Sponsor Image" Class="spImage")
            img(src="/static/img/sponsor4.PNG", alt="Sponsor Image" Class="spImage")