@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
*{
   margin: 0;
   box-sizing: border-box;
   padding: 0; 
}
#navbar{
    background-color: rgb(94, 9, 9);
    padding: 13px 11px;
    font-family: 'Roboto Mono', monospace;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    color: white;
    font-weight: bolder;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 13px 30px;
}

#introSection{
    padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 45px;
    background: center/cover no-repeat url("/static/bg1.PNG");
    height: 500px;
    background-color: red;
}

#introSection div.small{
    font-size: 25px;
}

#OurMission{
    color: rgb(233, 11, 11);
    background-color: black;
    display: block;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    margin: auto;
}

.card{
    display: inline-block;
    color: beige;
    border: 2px solid rgb(250, 1, 1);
    border-radius: 11px;
    width: 30%;
    margin: 23px 22px;
    height: 210px;
}

.card h3{
    text-align: center;
    margin: 12px;
}

#sponsorsSection{
    height: 150px;
    background-color: rgb(124, 116, 112);
    align-items: center;
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
}

#sponsors{
    height: 120px;
    max-width: 1000px;
    margin: auto;
    align-items: center;
}

.spImage{
    height: 140px;
    width: 225px;
    padding: 25px 25px;
    align-items: center;
}

#footer{
    height: 50px;
    background-color: black;
    color: white;
    padding: 11px;
    text-align: center;
}

